.columbos { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
gap: 11px;
}

.card {
    border: 3px solid #6969;
    padding: 12px;
    border-radius: 6px;
}

@media (max-width: 800px) {
    .columbos {
        grid-template-columns: 1fr;
    }
}